#Conexiones de la entidad TOP

NET RESULT<0> LOC=K12;
NET RESULT<1> LOC=P14;
NET RESULT<2> LOC=L12;
NET RESULT<3> LOC=N14;
NET RESULT<4> LOC=P13;
NET RESULT<5> LOC=N12;

NET CLK LOC=T9;

NET A<0> LOC=F12;
NET A<1> LOC=G12;
NET A<2> LOC=H14;

NET B<0> LOC=H13;
NET B<1> LOC=J14;
NET B<2> LOC=J13;

NET START LOC=K14;
NET RESET_N LOC=K13;

NET DONE_N LOC=P11;


